/*
Author URI: http://webthemez.com/
Note: 
Licence under Creative Commons Attribution 3.0 
Do not remove the back-link in this web template 
-------------------------------------------------------*/

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

/* Reset
---------------------------------*/
ul {
  list-style: none;
}

.figure {
  margin: 0px;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active {
  outline: 0px !important;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* Styles
---------------------------------*/
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  margin: 0;
}

h2 {
  font-size: 38px;
  color: #222222;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 0px 0 25px 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #222222;
  font-size: 18px;
  margin: 0 0 5px 0;
}

h6 {
  font-size: 16px;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 60px 0;
}

p {
  line-height: 24px;
  margin: 0;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
  background: #ffffff;
  padding: 20px 0px;
}

.header_box {
  position: relative;
}

.logo {
  float: left;
  margin-top: 8px;
  position: relative;
  z-index: 2;
}

.res-nav_click {
  display: none;
}

/* Nav Styles
---------------------------------*/
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar {
  border: 0px solid #fff;
  min-height: 40px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #222;
}

.navStyle {
  float: right;
}

.navStyle ul {
  list-style: none;
  padding: 0px;
}

.navStyle ul li {
  display: inline-block;
  margin: 0 5px;
}

.navStyle ul li:first-child {
  /*margin:0px;*/
}

.navStyle ul li:last-child {
  margin: 0 0 0 23px;
}

.navStyle ul li a {
  display: block;
  font-size: 14px;
  color: #222222;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.navStyle ul li a:hover {
  color: #df0031;
}

.navStyle > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #df0031;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #df0031;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #df0031;
  background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
  text-decoration: none;
  color: #df0031;
  background-color: transparent;
}

.borderLeft {
  border-left: 1px solid #dadada;
}

.borderTop {
  margin-top: 30px;
  border-top: 1px solid #dadada;
}

.mrgTop {
  margin-top: 30px;
}
/* Top_content
---------------------------------*/

.top_cont_outer {
  background: #df0031;
  position: relative;
}

.hero_section {
  position: relative;
  padding-top: 50px;
}

.white_pad {
  position: relative;
  right: 0px;
  bottom: 0px;
}

.white_pad img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.top_left_cont {
  padding: 110px 0;
}

.top_left_cont h3 {
  font-size: 16px;
  color: #f56eab;
  margin: 0 0 20px 0;
  text-align: left;
  font-weight: 700;
}

.top_left_cont h2 {
  font-size: 40px;
  color: #fff;
  line-height: 52px;
  margin: 0 0 26px 0;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

.top_left_cont h2 strong {
  font-weight: 700;
}

.top_left_cont p {
  font-size: 16px;
  color: #ffabab;
  margin: 0 0 30px 0;
  line-height: 26px;
}

a.read_more2 {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 16px;
  width: 178px;
  height: 46px;
  line-height: 46px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

a.read_more2:hover {
  background: #fff;
  color: #df0031;
  border: 1px solid #fff;
}

/* Services
---------------------------------*/

#service {
  padding: 60px 0px;
  background: #efefef;
}

.service_wrapper {
  padding: 40px 0 40px;
}

.service_section {
}

.service_block {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.service_icon {
  border: 2px solid #df0031;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0px auto 25px;
}

.service_icon.icon2 {
  border: 2px solid #df0031;
}

.service_icon.icon3 {
  border: 2px solid #df0031;
}

.service_icon span {
  background: transparent;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.service_icon i {
  color: #df0031;
  font-size: 40px;
  margin-top: 0;
  position: relative;
  top: 20px;
  z-index: 20;
}

.service_block h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  margin: 35px 0 18px;
}

.service_block p {
  font-size: 16px;
  color: #888888;
  margin: 0px;
}

/* Latest Work
---------------------------------*/

#work_outer {
  background: #f9f9f9;
  padding: 70px 0px;
  position: relative;
}

.work_pic {
  position: absolute;
  right: 0;
  top: 25%;
  width: 50%;
}

.inner_section {
  padding: 60px 0 20px;
}

.service-list {
  padding: 0 0 0 0;
  font-size: 14px;
  margin-bottom: 40px;
}

.service-list-col1 {
  float: left;
  width: 60px;
  text-align: center;
}

.service-list-col1 i {
  display: ;
  color: #888;
  font-size: 19px;
  font-style: normal;
  line-height: 20px;
}

.service-list-col2 {
  overflow: hidden;
}

.page_section.alabaster {
  background: #fafafa;
}

.work_bottom {
  padding: 20px 0 0 0px;
}

.work_bottom span {
  font-size: 18px;
  color: #333333;
  display: block;
  margin: 0 0 20px 0;
}

a.contact_btn {
  background: #fff;
  text-transform: uppercase;
  display: block;
  width: 176px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  font-size: 16px;
  color: #df0031;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 2px solid #df0031;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

a.contact_btn:hover {
  background: #df0031;
  color: #fff;
}

.input-text {
  background: transparent;
}

/* Portfolio
---------------------------------*/

#Portfolio {
  padding: 60px 0px;
}

.Portfolio-nav {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

.Portfolio-nav li {
  margin: 0 10px;
  display: inline;
}

.Portfolio-nav li a {
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
  border-radius: 4px;
  text-transform: uppercase;
  background: #f7f7f7;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
  background: #df0031;
  color: #fff;
  text-decoration: none;
}

.portfolioContainer {
  margin: 0 auto;
  padding-left: 15px;
  width: auto !important;
}

.Portfolio-box {
  text-align: center;
  width: 350px;
  overflow: hidden;
  float: left;
  padding: 12px 0px;
}

.Portfolio-box img {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
  opacity: 0.6;
}

.Portfolio-nav li a.current {
  background: #df0031;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.page_section.paddind {
  padding-bottom: 60px;
}

/* Happy Clients
---------------------------------*/

#clients {
  padding: 60px 0px;
}

.client_area {
  width: 960px;
  margin: 0px auto;
}

.client_section {
  padding: 35px 0 0 0;
}

.client_section.btm {
  padding: 20px 0 0 0;
}

.client_profile {
  float: left;
  text-align: center;
}

.client_profile.flt {
  float: right;
}

.client_profile_pic {
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  margin: 0 0 15px 0;
  width: 220px;
  height: 220px;
}

.client_profile_pic img {
  border-radius: 50%;
  border: 3px solid #f5f5f5;
}

.client_profile h3 {
  font-size: 18px;
  color: #49b5e7;
  margin: 0 0 0 0;
}

.client_profile span {
  display: block;
  font-size: 16px;
  color: #888888;
}

/* Clients
---------------------------------*/

.client_logos {
  background: #df0031;
  padding: 60px 0;
  margin-top: 60px;
}

.client_logos ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.client_logos ul li {
  display: inline;
  margin: 0 25px;
}

.client_logos ul a {
  display: inline-block;
  margin: 0 20px;
}

.page_section.team {
  padding: 60px 0;
}

.page_section.team h6 {
  margin-bottom: 40px;
}

/* Team
---------------------------------*/
.team_section {
  max-width: 993px;
  margin: 0 auto;
}

.team_area {
  width: 30.66%;
  margin-right: 3.82979%;
  height: 490px;
  overflow: hidden;
  text-align: center;
  float: left;
}

.team_area span {
  margin-bottom: 24px;
  display: block;
}

.team_area:nth-of-type(3n + 0) {
  margin: 0;
}

.team_box {
  width: auto;
  height: auto;
  position: relative;
  border-radius: 50%;
  margin: 7px 7px 25px 7px;
}

.team_box_shadow {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 26%;
  z-index: 10;
  bottom: 0px;
}

.team_box_shadow a {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #df0031;
}

.team_box:hover .team_box_shadow {
  box-shadow: inset 0px 0px 0px 148px rgba(17, 17, 17, 0.8);
}

.team_box:hover ul {
  display: block;
  opacity: 1;
}

.team_box img {
  display: block;
  border-radius: 0%;
  width: 90%;
  margin: 0 auto;
}

.team_box ul {
  display: block;
  opacity: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 86%;
  width: 100%;
  text-align: center;
  margin-top: -14px;
  z-index: 15;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.team_box ul li {
  display: inline;
  margin: 0 11px;
}

.team_box ul li a {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.team_box ul li a:hover,
.team_box ul li a:focus {
  text-decoration: none;
}

.team_box ul li a.fa-twitter:hover {
  color: #55acee;
}

.team_box ul li a.fa-facebook:hover {
  color: #3b5998;
}

.team_box ul li a.fa-pinterest:hover {
  color: #cb2026;
}

.team_box ul li a.fa-google-plus:hover {
  color: #dd4b39;
}

#aboutUs {
  padding: 60px 0;
}

/* Contact
---------------------------------*/
.page_section.contact {
  padding: 90px 0 100px;
}

.contact_section {
  margin: 0 0 60px 0;
}

.contact_section h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 50px 0;
  text-transform: uppercase;
}

.contact_block {
  text-align: center;
}

.contact_block_icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin: 0px auto 20px;
}

.contact_block_icon.icon2 {
  border-color: #df0031;
}

.contact_block_icon.icon3 {
  border-color: #49b5e7;
}

.contact_block_icon span {
  background: none repeat scroll 0 0 #f56eab;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.contact_block_icon.icon2 {
  border-color: #df0031;
}

.contact_block_icon.icon2 span {
  background: #df0031;
}

.contact_block_icon.icon3 {
  border-color: #49b5e7;
}

.contact_block_icon.icon3 span {
  background: #49b5e7;
}

.contact_block_icon i {
  color: #fff;
  font-size: 36px;
  margin-top: 0;
  position: relative;
  top: 26px;
  z-index: 20;
}

.contact_block span {
  display: block;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}

.contact_block span a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
}

.contact_info {
  font-size: 15px;
  margin: 0 0 0 20px;
  padding-left: 0;
}

.contact_info h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 30px;
  color: #fff;
}

.contact_info p {
  line-height: 28px;
  display: block;
  font-size: 16px;
  color: #ffffff;
  margin: 0 0 30px;
}

.social_links {
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  list-style: none;
}

.social_links li {
  float: left;
  margin-right: 4px;
}

.social_links li a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
}

.social_links li a:hover,
.social_links li a:focus {
  text-decoration: none;
  border-radius: 80px;
}

.twitter a:hover {
  color: #55acee;
}

.facebook a:hover {
  color: #3b5998;
}

.pinterest a:hover {
  color: #cb2026;
}

.gplus a:hover {
  color: #dd4b39;
}

.form {
  margin: 0 66px 0 30px;
}

.input-text {
  padding: 15px 16px;
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 4px;
  font-size: 15px;
  color: #aaa;
  margin: 0 0 15px 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
  border: 1px solid #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
  height: 230px;
  resize: none;
  overflow: auto;
}

.input-btn {
  width: 175px;
  height: 50px;
  letter-spacing: 0px;
  background: #df0031;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: 0px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
  background: #fff;
  color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
  background: #232323;
}

.footer_bottom {
  border-top: 1px solid #3c3a3a;
  padding: 25px 0;
}

.footer_bottom span {
  display: block;
  font-size: 14px;
  color: #cccccc;
  text-align: center;
}

.footer_bottom span a {
  display: inline-block;
  color: #df0031;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
  color: #fff;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.delay-04s {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.delay-12s {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

/*new_profolio*/

/* Portfolio */

.container.portfolio_title {
  padding-bottom: 0px;
}

#portfolio {
  padding: 60px 0 40px;
}

/* Portfolio Filters */

#filters {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  display: block;
  float: none;
  z-index: 2;
  position: relative;
}

#filters ul li {
  display: inline-block;
  margin: 0 5px;
}

#filters ul li a {
  display: block;
}

#filters ul li a h5 {
  background: none repeat scroll 0 0 #f7f7f7;
  border-radius: 4px;
  display: inline-block;

  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 10px 22px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  background: #fff;
  border: #c2c2c2 solid 1px;
  color: #7c7c7c;
}

#filters ul li a:hover h5,
#filters ul li a.active h5 {
  background: #fff;
  color: #df0031;
  text-decoration: none;
  border: #df0031 solid 1px;
}

.section-title h2 {
  color: #222222;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  letter-spacing: -1px;
  margin: 0 0 15px;
  text-align: center;
  text-transform: uppercase;
}

.section-title span {
  display: block;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 60px;
  text-align: center;
}

/* Portfolio Items */

#portfolio_wrapper {
  position: relative;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
}

#portfolio_wrapper .one-four {
  margin: 0 !important;
  line-height: 0;
  width: 25%;
  padding: 0;
  position: relative;
}

.portfolio-item {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-item .portfolio_img {
  overflow: hidden;
  display: block;
  position: relative;
}

.portfolio-item .portfolio_img img {
  width: 100%;
  height: auto;
}

.portfolio-item:hover .item_overlay {
  opacity: 1;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.item_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  cursor: pointer;
}

.open-project-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.item_overlay:hover {
  background: rgba(223, 0, 49, 0.7);
}

.item_info {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 50%;
  margin-top: -50px;
  text-align: center;
}

.project_name {
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;

  opacity: 0;
  font-size: 18px;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  position: relative;
  z-index: 10;
}

.portfolio-item:hover .project_name {
  opacity: 1;
  -webkit-transition: opacity 0.1s 0.2s;
  -moz-transition: opacity 0.1s 0.2s;
  -ms-transition: opacity 0.1s 0.2s;
  -o-transition: opacity 0.1s 0.2s;
  transition: opacity 0.1s 0.2s;
}

.project_catg {
  font-size: 14px;
  color: #fff;
  opacity: 0;
  margin-top: 0px;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

.portfolio-item:hover .project_catg {
  opacity: 0.8;
  -webkit-transition: opacity 0.1s 0.2s;
  -moz-transition: opacity 0.1s 0.2s;
  -ms-transition: opacity 0.1s 0.2s;
  -o-transition: opacity 0.1s 0.2s;
  transition: opacity 0.1s 0.2s;
}

.zoom-icon {
  left: 50%;
  margin-left: -20px;
  position: inherit;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  opacity: 0;
  background: url(images/zoom.png);
  background-size: 40px 40px;
  transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.2s;
  -webkit-transition: all 0.3s ease 0.2s;
  -ms-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
}

.portfolio-item:hover .zoom-icon {
  opacity: 1;
  margin-top: 0px;
  -webkit-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
  -ms-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
  -o-transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
  transition: opacity 0.3s 0.2s, margin-top 0.3s 0.2s;
}

/* Portfolio Isotope Transitions */

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* Portfolio Expander */

#project_container {
  display: none;
  background-color: #fff;
}

#project-page-button-fullscreen {
  height: auto;
  z-index: 100;
  position: absolute;
  right: 30px;
  top: 30px;
}

#project-page-button-fullscreen li {
  display: inline-block;
  font-size: 30px;
}

#project-page-button-fullscreen li a {
  background: url(images/close.png) no-repeat #fff;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50px;
  opacity: 0.5;
}

#project-page-button-fullscreen li a:hover {
  opacity: 1;
}

#project-page-button {
  text-align: center;
  margin-bottom: 20px;
  height: auto;
  position: relative;
  z-index: 100;
}

#project-page-button li {
  display: inline-block;
  margin: 60px 10px 0px 10px;
  font-size: 30px;
}

#project_data {
  margin-bottom: 0px;
}

.project-section-title {
  text-align: center;
  margin-bottom: 40px;
}

.project-section-title h1 {
  margin-bottom: 5px !important;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}

.project-page {
  background-color: #fff;
  width: 100%;
  height: auto;
  left: 0;
  padding-bottom: 40px;
}

/* Portfolio*/

.project-image-slider .bx-wrapper .bx-next {
  background: url("images/project_slider_right.png") no-repeat;
  background-size: 35px 65px;
  opacity: 0.3;
  right: -90px;
}

.project-image-slider .bx-wrapper .bx-prev {
  background: url("images/project_slider_left.png") no-repeat;
  background-size: 35px 65px;
  opacity: 0.3;
  left: -90px;
}

.project-image-slider .bx-wrapper .bx-next:hover,
.project-image-slider .bx-wrapper .bx-prev:hover {
  opacity: 1;
  background-position: 0;
}

.project-image-slider .bx-wrapper .bx-controls-direction a {
  height: 65px;
  margin-top: -33px;
  outline: 0 none;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 35px;
  z-index: 100;
}

/* Portfolio Normal Expander */

.project-description {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.small-border {
  height: 2px;
  width: 50px;
  background-color: #ddd;
  margin-bottom: 15px;
}

.visit-project {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 55px 0 20px 0;
}

.project-description h5 {
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* Portfolio FullScreen Expander */

#cycle-loader {
  height: 32px;
  left: 50%;
  margin: -8px 0 0 -8px;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 999;
}

#arrow_left {
  top: 50%;
  height: 60px;
  position: absolute;
  left: 30px;
  width: 32px;
  z-index: 1000;
  margin-top: -30px;
}

#arrow_right {
  top: 50%;
  height: 60px;
  position: absolute;
  right: 30px;
  width: 32px;
  z-index: 1000;
  margin-top: -30px;
}

#arrow_left:hover,
#arrow_right:hover {
  margin-top: -28px;
}

#arrow_left:active,
#arrow_right:active {
  margin-top: -28px;
}

div.mc-image {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.in-slide-content div.info-slide {
  background: #fff url(images/info.png) no-repeat left bottom;
  background-size: 46px 46px;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 46px;
  height: 46px;
  margin: 0;
  display: block;
  text-indent: 10px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  cursor: pointer;
  z-index: 1000;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=0.5);
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.in-slide-content div.info-slide:hover {
  width: 200px;
  background: #fff;
  position: absolute;
  bottom: 40px;
  padding: 10px 20px;
  text-indent: 0px;
  moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  z-index: 1000;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
  opacity: 1;
}

.in-slide-content h2,
.in-slide-content p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
}

.in-slide-content h2 {
  font-size: 14px;
  color: #444;
  text-shadow: none;
  font-weight: normal;
  text-transform: uppercase;
  z-index: 1001;
  position: relative;
  white-space: nowrap;
}

.info-slide p {
  color: #aaa;
  font-size: 13px;
  text-shadow: none;
  z-index: 1001;
  position: relative;
  margin: 0;
  font-weight: normal;
  white-space: nowrap;
}

.in-slide-content div.info-slide h2 {
  display: none;
  padding: 10px 10px 0 10px;
}

.in-slide-content div.info-slide p {
  display: none;
  padding: 0px 10px 10px 10px;
}

.in-slide-content div.info-slide:hover h2,
.in-slide-content div.info-slide:hover p {
  display: inherit;
  padding: 0;
}

/*
   Media Queries
--------------------------- */
@media (min-width: 768px) {
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
  .hero_section {
    position: relative;
    padding-top: 10px;
  }
  .top_left_cont {
    padding: 38px 0;
  }
  .top_left_cont h2 {
    font-size: 25px;
    color: #fff;
    line-height: 39px;
    margin: 0 0 9px 0;
  }
  .inner_section {
    padding: 20px 0 20px;
  }
  #aboutUs img {
    margin-bottom: 20px;
  }
  #aboutUs h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .service_block h3 {
    font-size: 16px;
  }
  service_block p {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
  }
  #filters ul {
    padding-left: 0px;
  }
  .form {
    margin: 0 18px;
  }
  .page_section.team {
    padding: 40px 0;
  }
  ,
  #clients {
    padding: 40px 0;
  }
  .client_logos ul li {
    display: inline;
    margin: 0 25px;
    padding: 11px 0;
    display: inline-block;
  }
  .social_links li {
    float: left;
  }
  .contact_section {
    margin: 0;
  }
  h2,
  .contact_section h2 {
    font-size: 30px;
  }
  .page_section.contact {
    padding: 60px 0 50px;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background: #df0031;
  }
  .navbar-inverse .navbar-toggle {
    border-color: transparent;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background: none;
    outline: none;
  }
  .navStyle ul li {
    display: block;
  }
  .navStyle {
    float: right;
    width: 100%;
    text-align: center;
  }
  .navStyle ul li:last-child {
    margin: 0px;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #222;
    background: #f9f9f9;
  }
}
@media (max-width: 480px) {
  .team_area {
    width: 99%;
  }
}
